### all ignore ###
/*
/.**

### not ignore ###
!/install.sh
!/setup_shell.sh

!/.zsh/
!/.zsh/**
!/.zshrc
!/.zshrc.alias
!/.zshrc.cd
!/.zshrc.tracking
!/.zshenv

!/.config/
!/.config/**

!/iterm2/
!/iterm2/**

!/jetbrains/
!/jetbrains/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
